@media screen and (min-width: 0) and (max-width: 767px) {
    
    .wrapper {
        padding: 30px;
        width: 100%;
    }
    
    h1, h2, h3 {
        text-align: center;
    }
    
    .project-tile, .project-tile.main-project {
        width: 100%;
    }
    
    .logo {
        float: none;
        margin: auto;
        width: 300px;
        height: 300px;
    }
    
    #home-project .align-right {
        text-align: center;
    }
    
    .href-button {
        width: 100%;
    }
    
    .blog-post {
        margin: 15px auto;
    }
    
    .blog-post-col {
        width: 100%;
    }
    
    .blog-post .link p {
        padding: 25px 10px;
        text-align: center;
        color: #bc4e00;
        background-color: #FFD700;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    
    .blog-post .date {
        text-align: center;
    }
    
    #presentation h1 {
        font-size: 60px;
    }
    
    .project-tile .ribbon h3 {
        width: 175px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    h1, h2, h3 {
        text-align: center;
    }
    
    .wrapper {
        padding: 40px;
        width: 100%;
    }
    
    .project-tile.main-project {
        width: 100%;
    }
    
    .project-tile {
        width: 50%;
    }
    
    .blog-post-col {
        width: 50%;
    }
    
    #presentation h1 {
        font-size: 110px;
    }
    
    .project-tile .ribbon h3 {
        width: 300px;
    }
}
