#main-header {
    padding: 20px 0;
    background: #0051FF url(../img/hh.png) center;
    background-size: cover;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.3) inset;
}

#main-header nav {
    float: right;
    font: 20px 'Permanent Marker', cursive;
    color: white;
}

#main-header nav li {
    float: left;
    text-align: center;
    padding: 5px 10px;
    min-width: 100px;
    list-style-type: none;
    cursor: pointer;
    transition: color 0.1s;
}

#main-header nav li:hover {
    color: #FFD700;
}

#presentation {
    margin: 25px auto 100px;
}

#signature {
    width: 800px;
    min-height: 200px;
    background: url(../img/nameS.png) no-repeat;
    background-size: contain;
}

#presentation h1 {
    font: 80px 'Rock Salt', cursive;
    color: #FFF;
}

#presentation h3 {
    font: 32px 'Permanent Marker', cursive;
    color: #FFD700;
}

#home-project {
    padding: 40px 0;
    background-color: #D7D7D7;
}

#home-blog {
    padding: 40px 0;
}

.main-footer {
    background-color: #4B4B4B;
    height: 500px;
}