* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6E6;
}

div, section, header {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    color: #4B4B4B;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 0 150px;
}

.no-float::after {
    display: block;
    content: "";
    clear: both;
}

.href-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
    font: italic bold 20px 'Roboto', sans-serif;
    color: #0051FF;
    border: 3px solid #0051FF;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.href-button:hover {
    background-color: #0051FF;
    color: #FFFFFF;
}

.logo {
    float: left;
    width: 164px;
    height: 100px;
    background: url(../img/logo.svg) no-repeat;
    background-size: contain;
}

.main-header {
    padding: 20px 0;
    background: #2F44C1 url(../img/hh.png) center center;
    background-size: cover;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.3) inset;
}

.main-header nav {
    float: right;
    font: 20px 'Permanent Marker', cursive;
    color: white;
}

.main-header nav li {
    float: left;
    text-align: center;
    padding: 5px 10px;
    min-width: 100px;
    list-style-type: none;
    cursor: pointer;
    transition: color 0.1s;
}

.main-header nav li:hover {
    color: #FFD700;
}

#presentation {
    margin: 100px 0;
}

#presentation h1 {
    font: 80px 'Rock Salt', cursive;
    color: #FFFFFF;
}

#presentation h3 {
    font: 32px 'Permanent Marker', cursive;
    color: #FFD700;
}

#home-project {
    padding: 40px 0;
}

#home-project .project-container {
    margin: 10px -10px;
}

#home-project .project-tile {
    display: block;
    position: relative;
    margin: 10px;
    overflow: hidden;
    float: left;
    width: calc(33% - 20px);
    background-color: #000000;
}

#home-project .project-tile img {
    display: block;
    width: 100%;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, filter 0.2s ease-out;
}

#home-project .project-tile:hover img {
    opacity: 0.5;
    transform: scale(1.15, 1.15);
    filter: blur(10px);
}

#home-project .project-tile .content {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

#home-project .project-tile .content * {
    text-align: center;
    color: white;
}

#home-project .project-tile .content h2 {
    margin-top: 30%;
    font-style: italic;
    font-weight: bold;
}

#home-project .project-tile .content h3 {
    margin-top: 10px;
}

#home-project .project-tile:hover .content {
    opacity: 1;
}

#home-project footer {
    padding: 0 12px;
    text-align: right;
}

#home-blog {
    padding: 20px 0;
    height: 500px;
    background-color: #D7D7D7;
}