* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6E6;
}

div, section, header {
    box-sizing: border-box;
}

h1, h2, h3 {
    padding: 25px 5px;
    font: italic normal 2.5em 'Roboto', sans-serif;
    color: #4B4B4B;
}

.container {
    padding: 0 100px;
}

.no-float::after {
    display: block;
    content: "";
    clear: both;
}

.href-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
    font: italic bold 20px 'Roboto', sans-serif;
    color: #0051FF;
    border: 3px solid #0051FF;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
}

.href-button:hover {
    background-color: #0051FF;
    color: #FFFFFF;
}

.logo {
    float: left;
    width: 205px;
    height: 125px;
    background: url(../img/logo.svg) no-repeat;
    background-size: contain;
}

.main-header {
    min-height: 350px;
    padding: 20px 0;
    background-color: #2F44C1;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.3) inset;
}

.main-header nav {
    float: right;
    font: italic bold 20px 'Roboto', sans-serif;
    color: white;
}

.main-header nav li {
    float: left;
    text-align: center;
    padding: 15px 20px;
    min-width: 100px;
    list-style-type: none;
    cursor: pointer;
    transition: color 0.1s;
}

.main-header nav li:hover {
    color: #FFD700;
}

#home-project {
    width: 100%;
}

#home-project .project-viewer {
    float: left;
    width: calc(100% - 500px);
}

#home-project .project-container {
    padding: 15px 0;
}

#home-project .project-viewer footer {
    padding: 15px 0 30px;
    text-align: center;
}

#home-project .project-tile {
    float: left;
    margin: 5px;
    width: calc(50% - 10px);
    background-color: gray;
}

#home-project aside {
    float: left;
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

#home-project aside header {
    height: 75px;
    background-color: #FFD700;
}

#home-blog {
    height: 500px;
    background-color: #D7D7D7;
}