<header id="main-header">
    <div class='wrapper no-float'>
        
        <%- include nav.ejs %>
        
        <div class='logo'><!----></div>
        
    </div>
    <div id="presentation" class="wrapper">
        
        <h1>Carl Gauthier</h1>
        
        <h3>Développeur</h3>
        
    </div>
</header>