<nav class='no-float'>
    <div class="dropdown">
        <ul>
            <li>Accueil</li>
            <li>Portfolio</li>
            <li>Blog</li>
            <li>À propos</li>
            <li>Contact</li>
        </ul>
    </div>
</nav>