<% for(var i = 0; i < data.length; i++) { %>

    <a class="project-tile">
        <div class="image" style="background-image: url(../img/project750x563jpg/<%= data[i].image %>);"><!----></div>
        
        <div class="content">
            <h2><%= data[i].name %></h2>
        </div>
        
        <div class="ribbon"><h3><%= data[i].context %></h3></div>
    </a>

<% } %>