<% for(var i = 0; i < Project.length; i++) { %>

    <div class="project-tile col-fourth">
        <div class="image" style="background-image: url(../img/project750x563/<%= Project[i].image %>);"><!----></div>
    </div>

<% } %>
