.blog-post {
    float: left;
    margin: 20px 15px;
    width: calc(50% - 30px);
}

.blog-post .image {
    padding-bottom: 50%;
    transition: filter 0.2s ease-out;
}

.blog-post .content {
    margin: 20px 0 0;
    padding-left: 30px;
    text-align: justify;
    border-left: 2px solid #4B4B4B;
}

.blog-post span {
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

.blog-post .link {
    color: #0051FF;
}