* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 120%;
    color: #4B4B4B;
    background-color: #E6E6E6;
}

*::selection {
    color: #000000;
    background-color: #00bfff;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

hr {
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid #7C7C7C;
}

.fancy {
    margin: 40px 0;
    padding-left: 40px;
    border-left: 2px solid #7C7C7C;
}

.wrapper {
    padding: 0 40px;
    margin: auto;
    width: 1500px;
    box-sizing: border-box;
}

.simple-container {
    margin: 50px 0;
}

.container {
    margin: 50px -15px;
}

section {
    padding: 40px 0;
}

.no-float::after {
    display: block;
    content: "";
    clear: both;
}

.image {
    background-size: cover;
    background-position: center;
    background-color: #4B4B4B;
}

.href-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #0051FF;
    border: 3px solid #0051FF;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.href-button:hover {
    background-color: #0051FF;
    color: #FFFFFF;
}

.button-holder {
    padding: 15px 0;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
