@media screen and (min-width: 0) and (max-width: 767px) {
    
    .wrapper {
        padding: 0 25px;
        width: 100%;
    }
    
    h1, h2, h3 {
        text-align: center;
    }
    
    .href-button {
        width: 100%;
    }
    
    #main-header {
        min-height: 100vh;
    }
    
    #main-header nav {
        float: none;
        margin: -50px -30px 25px;
        min-height: 60px;
        background: url(../img/pattern.png);
    }
    
    #main-header nav:hover .dropdown {
        display: block;
    }
    
    #main-header nav .dropdown {
        padding-top: 60px;
        display: none;
    }
    
    #main-header nav .dropdown:hover {
        display: block;
    }

    #main-header nav li {
        text-align: center;
        float: none;
        border-top: 6px solid;
        border-image: url(../img/border.png) 6 5 7 7 round stretch;
    }
    
    #presentation {
        margin: -20px auto 25px;
    }
    
    #presentation h1 {
        font-size: 60px;
    }
    
    .project-tile, .project-tile:nth-child(1) {
        width: 100%;
    }
    
    .project-tile:nth-child(n+4) {
        display: none;
    }
    
    .project-tile .content h2 {
        font-size: 20px;
    }
    
    #home-project .align-right {
        text-align: center;
    }
    
    .blog-post {
        width: calc(100% - 30px);
    }
    
    .blog-post header h2 {
        font-size: 28px;
    }
    
    .blog-post .content {
        padding-left: 0;
        border: none;
        height: auto;
    }
    
    .blog-post footer {
        padding-left: 0;
        border: none;
    }
    
    .blog-post .date {
        float: none;
        margin-left: -20px;
        text-align: center;
    }
    
    .blog-post .link {
        display: block;
        float: none;
        margin: 20px 0;
        padding: 20px 0;
        color: #bc4e00;
        background-color: #FFD700;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    
    .logo {
        float: none;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
    
    h1, h2, h3 {
        text-align: center;
    }
    
    .wrapper {
        width: 100%;
    }
    
    #presentation h1 {
        font-size: 110px;
    }
    
    .project-tile {
        width: 50%;
    }
    
    .project-tile:nth-child(5) {
        display: none;
    }
    
    .blog-post {
        width: calc(100% - 30px);
    }
    
    .blog-post .content {
        height: auto;
    }
}

@media screen and (min-width: 1170px) and (max-width: 1500px) {
    
    .wrapper {
        width: 1170px;
    }
}
