.project-tile {
    overflow: hidden;
    cursor: pointer;
}

.project-tile .image {
    padding-bottom: 75%;
    transition: transform 0.2s ease-out;
}

.project-tile:hover .image {
    transform: scale(1.1);
}
