#main-header {
    padding: 20px 0;
    background: #0051FF url(../img/header.png) center;
    background-size: cover;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3) inset;
}

#main-header nav {
    float: right;
    font: 24px 'Permanent Marker', cursive;
    color: white;
}

#main-header nav li {
    float: left;
    text-align: center;
    padding: 5px 10px;
    min-width: 100px;
    list-style-type: none;
    cursor: pointer;
    transition: color 0.1s;
}

#main-header nav li:hover {
    color: #FFD700;
}

#main-header .logo {
    float: left;
    width: 250px;
    height: 250px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}

#presentation {
    margin: 25px auto 100px;
}

#presentation h1 {
    font: 120px 'KGSecondChancesSketch', cursive;
    color: #FFF;
}

#presentation h3 {
    font: 32px 'Permanent Marker', cursive;
    color: #FFD700;
}

#home-project {
    background-color: #D7D7D7;
}

.main-footer {
    padding: 50px 0;
    background: url(../img/pattern.png);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3) inset;
}

.main-footer h2 {
    padding-bottom: 25px;
    color: #FFF;
}

.main-footer .icon {
    margin: 0 15px;
}
