#presentation {
    margin: 25px auto 100px;
}

#presentation h1 {
    font: 6em 'KGSecondChancesSketch', cursive;
    color: #FFF;
}

#presentation h3 {
    font: 32px 'Permanent Marker', cursive;
    color: #FFD700;
}

#home-project {
    background-color: #D7D7D7;
}