body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 120%;
    word-wrap: break-word;
    color: #4B4B4B;
}

*::selection {
    color: #000000;
    background-color: #00bfff;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
}

.positive {
    color: #FFFFFF;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p.bigger {
    font-size: 1.2em;
}

.text {
    margin: 40px 0;
}

.link:hover {
    text-decoration: underline;
}

hr {
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid #7C7C7C;
}

hr.mini {
    width: 15%;
    border-bottom-color: #0051FF;
}

hr.mini.positive {
    border-bottom-color: #FFD700;
}

.fancy {
    margin: 40px 0;
    padding-left: 40px;
    border-left: 2px solid #7C7C7C;
}
